<!--   <style>
  .card-container {
  display: flex;
  align-items: center;
  justify-content: center
}

img {
  max-width: 30%;
  max-height:30%;
}

.text {
  font-size: 10px;
  padding-left: 10px;
}
  </style> -->

<!--   <style>
.card {
  background: #F1F1F2;
  border-radius: 10px;
  display: flex;
}

.card-img {
  border: 1px;
}

img {
  display: block;
  height: 130px;
  width: 130px;
  border-radius: 10px
}

.card-body {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
/*   border: 1px solid blue; */
}
  </style> -->

<style>
  .card-container {
    display: flex;
    flex-direction: column;
    /* border: 1px solid red; */
    width: 100%;
    margin: 0 auto;
  }
  .card-1 {
    display: flex;
    background-color: rgb(238,238,238);
    border-radius: 5px;
  }
  .card-image-1 {
    width: 30%;
    /* border: 2px solid blue; */

  }
  .card-image-1 img {
    width: 100%;
    height: 50%;
    min-height: 100%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    object-fit: cover;
  }
  .card-text-1 {
    width: 70%;
    /* border: 2px solid green; */
    padding: 10px;
  }
  .card__footer {
    padding: 5px;
    overflow: hidden;
    border-top: 1px solid #dedede;
  }
</style>

{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<div class="{{ include.type | default: 'list' }}__item">
  <article class="archive__item" itemscope itemtype="https://schema.org/CreativeWork">
    {% if include.type == "grid" and teaser %}
      <div class="archive__item-teaser">
        <img src="{{ teaser | relative_url }}" alt="">
      </div>
    {% endif %}
    {% if include.type == "list" and teaser and site.teaser_preview %}
    <!-- Show teaser pic below the link -->
<!--     <h2 class="archive__item-title no_toc" itemprop="headline">
        {% if post.link %}
          <a href="{{ post.link }}">{{ title }}</a> <a href="{{ post.url | relative_url }}" rel="permalink"><i class="fas fa-link" aria-hidden="true" title="permalink"></i><span class="sr-only">Permalink</span></a>
        {% else %}
          <a href="{{ post.url | relative_url }}" rel="permalink">{{ title }}</a>
        {% endif %}
      </h2>
      {% include page__meta.html type=include.type %}
      <div class="thumbnail-container">
        <img src="{{ teaser | relative_url }}" alt="">
      </div> -->
     <!-- Show as a card test1 -->
<!--     <div class="card-container">
      <div class="image">
        <img src="{{ teaser | relative_url }}" alt="">
      </div>
      <div class="text">
        <h1>{% if post.link %}
          <a href="{{ post.link }}">{{ title }}</a> <a href="{{ post.url | relative_url }}" rel="permalink"><i class="fas fa-link" aria-hidden="true" title="permalink"></i><span class="sr-only">Permalink</span></a>
        {% else %}
          <a href="{{ post.url | relative_url }}" rel="permalink">{{ title }}</a>
        {% endif %}</h1>
      </div>
    </div> -->
     <!-- Show as a card test2 -->
<!--     <h2 class="archive__item-title no_toc" itemprop="headline">
        <div class="card">
        <div class="card-img">
          <img src="{{ teaser | relative_url }}" alt="Card image">
        </div>
        <div class="card-body">
          <h4 class="card-title">{% if post.link %}
          <a href="{{ post.link }}">{{ title }}</a> <a href="{{ post.url | relative_url }}" rel="permalink"><i class="fas fa-link" aria-hidden="true" title="permalink"></i><span class="sr-only">Permalink</span></a>
        {% else %}
          <a href="{{ post.url | relative_url }}" rel="permalink">{{ title }}</a>
        {% endif %}</h4>
          {% if post.excerpt %}<p class="card-text" itemprop="description">{{ post.excerpt | markdownify | strip_html | truncate: 160 }}</p>{% endif %}
        </div>
      </div>
    </h2> -->
    <!-- Show as a card test3 -->
        <h2 class="archive__item-title no_toc" itemprop="headline">
<div class="card-container">
      <div class="card-1">
        <!-- card-1 -->
        <div class="card-image-1">
          <img src="{{ teaser | relative_url }}" alt="Card image"/>
        </div>
        <div class="card-text-1">
          <h4>{{ title }}</h4>
          <div class="card__sub">
            <small>Paris</small>
          </div>
          <p>
          <small>{% if post.excerpt %}<p class="card-text" itemprop="description">{{ post.excerpt | markdownify | strip_html | truncate: 160 }}</p>{% endif %}</small>
          </p>
          <p>
            <div class="card__item">
                <small>Reading Time: 2min</small>
              </div>
          </p>

          <div class="card__footer">
<!--             <a class="pull" href="{{ post.link }}"><small>Read more</small></a> -->
            {% if post.link %}
          <a href="{{ post.link }}">{{ title }}</a> <a href="{{ post.url | relative_url }}" rel="permalink"><i class="fas fa-link" aria-hidden="true" title="permalink"></i><span class="sr-only">Permalink</span></a>
        {% else %}
          <a class="pull" href="{{ post.url | relative_url }}" rel="permalink"><small>Read more</small></a>
        {% endif %}
            <a class="push" href="#"><small>Share</small></a>
          </div>
        </div>
      </div>
      <!-- end of card-1 -->
    </div>
    </h2>
    
    <!-- Original -->
    {% else %}
    <h2 class="archive__item-title no_toc" itemprop="headline">
        {% if post.link %}
          <a href="{{ post.link }}">{{ title }}</a> <a href="{{ post.url | relative_url }}" rel="permalink"><i class="fas fa-link" aria-hidden="true" title="permalink"></i><span class="sr-only">Permalink</span></a>
        {% else %}
          <a href="{{ post.url | relative_url }}" rel="permalink">{{ title }}</a>
        {% endif %}
      </h2>
      {% include page__meta.html type=include.type %}
    {% endif %}
   
  </article>
</div>
